/*
Color Reference
#edddde - misty rose
#d1414a - english vermillion
#9ab3b1 - opal
#c7a7a9 - silver pink
#6bfaf0 - fluorescent blue
*/


body{
    background-image: url(workoutpicmain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 1000px;
    color: azure;
}

.flex-container > h1,h2{
    font-size: 80px;
    text-shadow: 2px 2px 8px black;
}
