/*
Color Reference
#edddde - misty rose
#d1414a - english vermillion
#9ab3b1 - opal
#c7a7a9 - silver pink
#6bfaf0 - fluorescent blue
*/


body{
    background-image: url(workoutpicmain.jpg);
    
    background-repeat: no-repeat;
    background-size: contain;
}
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 1100px;
    color: azure;
}

.flex-container > h1,h2{
    font-size: 80px;
    text-shadow: 2px 2px 8px black;
}
.flex-container1{
    height: 600px;
}
#carouselExampleIndicators{
    padding-top: 80px;
    width: 600px;
    height: 600px;
}
.container{
    display: grid;
    grid-template-areas:
    "content1 content2";
    /*height: 100vh;*/
        
    grid-gap: 300px;
}
#column2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
